* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    font-size: 100%;
    background-color: $bg-color;
    line-height: $font-height;
}

img, fieldset { 
    border:0; 
}

a,
button,
input[type=button],
input[type=image],
input[type=reset],
input[type=submit],
label { 
    cursor:pointer;
}

a {
    text-decoration:none;
    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li, small, a { 
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: $white;
}

ol, ul, li { 
    list-style:none;
}

p {
    margin-bottom: 1.3em;
}

