$font-color-default:#FFF;
$bg-color:#222;
$main-blue:#2098d1;
$white: #fff;
$carousel-indicator-bg-color: rgba(0, 0, 0, 0.8);
$carousel-bullet-hover:#aaaaaa;
$carousel-indicator-hover:#555;
$highlight: #045f8c;
$highlight-line: 2px solid #045f8c;

$font-stack: Helvetica, sans-serif;
$font-height: 1.5;
$light: 100;
$font-weight-light: 300;
$font-weight-heavy: 700;


@mixin size($width) {
    width: $width;
    margin: 0 auto;
}
@mixin rgba($r, $g, $b, $a) {
    background: rgba($r, $g, $b, $a);
};