section:nth-child(3) {
    background: rgba(50, 50, 50, 0.50);
    width: 65%;
    margin: 0 auto;
    padding: 2em;

    div {
        margin-bottom:2em;

        h2 {
            font-weight: 100;
            margin-bottom: 1em;
        }
        p {
            font-size: 1em;
            line-height: 1.5em;
        }
    }

    div:nth-child(2) {
        h2 {
            font-weight: 100;
            margin-bottom: 1em;
        }
        p {
            font-size: 1em;
            line-height: 1.5em;
            margin-bottom: 1em;
        }
        ul {
            line-height: 2em;
            margin: 1em 2em;

            li {
                list-style-type: square;
            }
        }
    }
}