/* Variables 
============*/

$font-stack: Helvetica, sans-serif;
$white: #FFF;
$black: #222;
$black_64: rgba(0, 0, 0, 0.64);
$black_28: rgba(0, 0, 0, 0.28);
$white: #fff;
$black_80: rgba(0, 0, 0, 0.8);
$color_silver_chalice_approx: #aaaaaa;
$color_boston_blue_approx: #428bca;

/* Resets and overrides
=========== */
* {
    padding:0;
    margin:0;
}
body {
    font-family: $font-stack;
    font-size:100%;
    background-color: $black;
    .body__container {           /* Container-Div */
    }
}
img, fieldset { border:0; }
a,
button,
input[type=button],
input[type=image],
input[type=reset],
input[type=submit],
label { cursor:pointer; }

a {
    text-decoration:none;
    &:hover {
        text-decoration: none;
    }
}
h1, h2, h3, h4, h5, h6, p, ol, ul, li, a { color:$white; }

ol, ul, li { list-style:none;}

// div { border: 1px dashed red; }