$font-stack: Helvetica, sans-serif;
$white: #FFF;
$black: #222;
$black_64: rgba(0, 0, 0, 0.64);
$black_28: rgba(0, 0, 0, 0.28);
$white: #fff;
$black_80: rgba(0, 0, 0, 0.8);
$color_silver_chalice_approx: #aaaaaa;
$color_boston_blue_approx: #428bca;
