* {
    padding:0;
    margin:0;
}
a {text-decoration:none;}
.number .container-fluid {
    background-image: url('../../img/jumbotron.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.opaline {
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgba(128, 215, 247, 0.660);
}
.opaline h1, .opaline h2,
.opaline h3, .opaline h4,
.opaline h5, .opaline h6, 
.opaline p {
    color: #FFFFFF;
}
.opaline .boxes {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
    border: 1px solid #FFF;
}
.boxes .odometer.odometer-theme-default {font-family: 'Roboto Slab', serif;}
.story .container-fluid{
    background-image: url('../../img/jumbotron2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.prefooter .container-fluid {
    background-color: rgba(45, 45, 45, 1);
}
.prefooter h1,.prefooter h2,
.prefooter h3,.prefooter h4,
.prefooter h5,.prefooter h6,
.prefooter p {
    color: #FFFFFF;
}
#mantra, #exp {background-color:#EEE;}
