
section.profile {
    background: #2098d1;
    margin-top: 4em;
    padding: 5em;

    div.profile__content-container {
        text-align: center;
        width: 100%;

        .profile__title {
            font-size: 3em;
            font-weight: 100;
            text-align: center;
        }
        .profile__list {
            margin-top:1em;
            display: inline-block;

            .profile__list-item {
                border-right-style: ridge;
                float: left;
                line-height: 1px;
                padding: 1em;

                &:last-child {
                    border-right-style: none;
                }
            }

        }
        .profile__button-container {
            margin-top: 1em;

            #profile__button-text {
                span {
                    margin-left: 2em;
                    text-transform: uppercase;
                }
                i#profile__button-glyph {
                    position: relative;
                    top: 1.5em;
                    left: -5em;
                }
            }
        }
    }
}