section.about {
        .about__content-container-col-1 {
            margin-bottom:2em;

        h2.about__content-title {
            font-weight: 100;
            margin-bottom: 1em;
        }
        p.about__content-text {
            font-size: 1.1em;
            line-height: 1.5em;
        }
    }

    div.about__content-container-col-2 {
        h2.about__title {
            font-weight: 100;
            margin-bottom: 1em;
        }
        p.about__content-text {
            font-size: 1.1em;
            line-height: 1.5em;
            margin-bottom: 1em;
        }
        ul.about__list {
            line-height: 2em;
            margin: 1em 2em;

            li.about__list-item {
                list-style-type: square;
            }
        }
    }
}