header {
    overflow: hidden;
    margin-bottom: 20em;
    background: #2098d1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    .masthead-container {
        border: none;
        width: 15em;
        float: left;
        padding: 1em;
        margin-left: 2em;

        a {
            text-decoration: none;
        }        
    }
}