main.portfolio {
    padding: 2em 0 4em 0;
    background-color:chocolate;
    
    #portfolio__title {
       margin-left:6em;
        font-weight:100;
    }
    #portfolio__content-text {
        margin: 1em 9em;
    }
}