header {
    @include size(100%);
    overflow: hidden;
    background: $main-blue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    > .container {
        @include size(80%);

        .row {
            .col-4 {
                text-align: center;

                a {
                    h1 {
                        &:hover {
                            color: $highlight;
                        }
                    }
                }
            }
            nav.col-7-sm {
                position: relative;
                left: 10em;

                ul {
                    li {
                        float: left;
                        padding: 1em;
                        text-transform: uppercase;

                        a {
                            padding-bottom:1em;
                            &:hover {
                                border-bottom: $highlight-line;
                            }
                        }
                    }
                }
            }
        }
    }
}