section#portfolio {
    @include rgba(33, 24, 168, 0.75);
	
    #portfolio__title-container {
		background-color:#1a35ba;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
		@include size(65%);
		padding: 2em;
		
    	p { 
			margin-top: 1em;
		}
	}
}

main {
	.portfolio__carousel {
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.64);
	
		.portfolio__carousel-inner {
			position: relative;
			overflow: hidden;
			width: 100%;
		}
		.portfolio__carousel-item {
			position: absolute;
			opacity: 0;
			transition: opacity 0.8s ease-out;

			img {
				display: block;
				height: auto;
				max-width: 100%;
			}
		}
		.portfolio__carousel-control {
			color: $white;
			font-size: 2em;
			height: 1.75em;
			position: absolute;
			top: 50%;
			text-align: center;
			width: 1em;
			z-index: 10;
			display: none;

			&.prev {
				left: 5%;
			}
			&.next {
				right: 5%;
			}
			&:hover {
				background: $carousel-indicator-bg-color;
				color: $carousel-bullet-hover;
			}
		}
		.portfolio__carousel-indicators {
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			bottom: 5%;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 10;
			li {
				display: inline-block;
				margin: 0 0.5em;
			}
		}
		.carousel-bullet {
			color: $white;
			display: block;
			font-size: 2em;

			&:hover {
				color: $carousel-bullet-hover;
			}
		}
		.portfolio__carousel-open:checked + .portfolio__carousel-item {
			position: static;
			opacity: 100;
		}
		#carousel-1:checked ~ .control-1 {
			display: block;
			~ .portfolio__carousel-indicators li:nth-child(1) .carousel-bullet {
				color: $carousel-indicator-hover;
			}
		}
		#carousel-2:checked ~ .control-2 {
			display: block;
			~ .portfolio__carousel-indicators li:nth-child(2) .carousel-bullet {
				color: $carousel-indicator-hover;
			}
		}
		#carousel-3:checked ~ .control-3 {
			display: block;
			~ .portfolio__carousel-indicators li:nth-child(3) .carousel-bullet {
				color: $carousel-indicator-hover;
			}
		}
	}
}