section#profile {
    background: $main-blue;
    padding: 6em;
    margin-top: 4em;

    > .container {
        text-align: center;
        @include size(100%);
        padding: 1em;

        h1 {
            @include size(35%);
            font-weight: $font-weight-heavy;
        }
        ul {
            margin-top:2em;
            display: inline-block;

            li {
                border-right-style: ridge;
                float: left;
                line-height: 0.1;
                padding: 0.75em;
                text-transform: uppercase; 

                &:last-child {
                    border-right-style: none;
                }
            }

        }
        .button__container {
            width: 15%;
            margin: 0 auto;
            margin-top: 2em;

            a {
                span {
                    text-transform: uppercase;
                }
                
                i#profile__button-glyph {
                    position: relative;
                    top: 2em;
                    right: 5em;
                }
            }
        }
    }
}


